<strong class="heading_bordered">
	 <%= dataType === "Genre" ? model.escape("title") : model.escape("name")  %> 
	<span style="float:right; font-size:85%">
		<label for="select" class="control-label">Sort By</label>
		<select id="select_sorting">
		  <option value="predicted_rating">Predicted Rating</option>
		  <option value="date_released" <%= (sortingBy === "date_released") ? "selected" : "" %>>Date Released</option>
		</select>
	</span>
</strong>
<br>
<br>
<div class="col-xs-offset-3" id="loading-movies"> </div>

<div class="row" id="show-movies"></div>

